* {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	line-height: 2.5em;
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 0;
}

h1 {
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: .02em;
	line-height: 1.1;
}

p {
	margin-bottom: 1.5em;
}

.hero {
	background-color: #23424A;
}

.container {
	width: 80%;
	margin: 0 auto;
	color: white;
	padding: 7rem 0;
}

.intro {
	width: 60%;
	font-size: 1.75rem;
	letter-spacing: .02em;
}

.action {
	background-color: #38CFD9;
	background-color: rgba(147, 248, 255, 0.75);
	transition: background-color 200ms;
	padding: 1.1em 2.3em;
	margin: 2.75em 0;
	border: none;
	border-radius: 1000px;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .08em;
	color: #072A2D;
	cursor: pointer;	
}

.action:hover {
	background-color: rgb(147, 248, 255,1);
}

.action:focus {
	background-color: orange;
}

.action.actionClick {
	background-color: white;
	color: white;
	box-shadow: 0px 0px 80px 80px rgba(255,255,255,.5);
	transition: all 3ms ease-out;
}