:root {
	--dark-bg: #2e323f;
	--medium-bg: #3b4050;
	--light-bg: #6f737f;
	--lighter-bg: #f0f1f3;
	--paper-color: #fff;
	--solid-color: #000;
	--accent-color: #a59678;
	--heading-font: 'Oswald', sans-serif;
	--text-font: 'Montserrat', sans-serif;
	font-size: 16px;
} 

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--text-font);
	font-size: 1.3125rem;
	color: var(--dark-bg);
	line-height: 1.45;
}

p {
	margin-top: 0;
	margin-bottom: 1em;
}

p:last-child {
	margin-bottom: 1.5em;
}

img {
	max-width: 100%;
	height: auto;
}

header {
	background-color: var(--dark-bg);
	text-align: center;
	padding: 1em 0;
	align-items: center;
}

h1 {
	font-family: var(--heading-font);
	font-weight: bold;
	font-size: 3.5rem;
	line-height: 1.05;
	margin-top: 0;
	letter-spacing: .03em;
}

h2 {
	font-family: var(--heading-font);
	margin-top: 0;
	margin-bottom: .5em;
	line-height: 1.05;
	letter-spacing: .03em;
}

h3 {
	font-family: var(--heading-font);
	margin-top: 0;
	margin-bottom: 1em;
	line-height: 1.05;
	letter-spacing: .03em;
}

a {
	text-decoration: none;
	transition: opacity 250ms ease;
}

a:hover,
a:focus,
.nav-toggle:focus,
.nav-toggle:hover {
	opacity: 75%;
	transition: opacity 250ms ease;
}

.container {
	width: 80%;
	margin: 0 auto;
	max-width: 1200px;
	position: relative;
}

.nav-toggle {
	cursor: pointer;
	border: none;
	width: 3em;
	height: 3em;
	padding: 0;
	border-radius: 50%;
	background-color: var(--solid-color);
	color: var(--paper-color);
	transition: opacity 250ms ease;
	position: absolute;
	left: 0;
}

.hamburger {
	width: 45%;
	position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
	display: block;
	margin: 0 auto;
	height: 3px;
	background: var(--paper-color);
}

.hamburger::before,
.hamburger::after {
	content: '';
	width: 100%;
}

.hamburger::before {
	transform: translateY(-6px);
}

.hamburger::after {
	transform: translateY(3px);
}

.logo {
	/* height: 3.5em; */
	line-height: 0;
}

.nav {
	width: 100%;
	visibility: hidden;
	height: 0;
	position: absolute;
	font-size: 1.125rem;
	font-family: var(--heading-font);
	text-transform: uppercase;
	letter-spacing: .05em;
}

.nav__list {
	padding: 0;
	margin: .9em 0;
	list-style: none;
}

.nav__item {
	margin: .5em;
}

.btn {
	padding: .1em 1.5em;
	background-color: var(--accent-color);
	border-radius: 1000px;
}

.nav__link {
	color: var(--paper-color);
}

.nav--visible {
	position: relative;
	height: auto;
	visibility: visible;
}

.hero {
	background-color: var(--medium-bg);
	color: var(--lighter-bg);
	padding: 2em 0;
}

.intro__title {
	color: var(--paper-color);
}

.intro__title--emphasis {
	font-style: normal;
	color: var(--accent-color);
}

.intro__cta {
	font-size: 1.125rem;
	font-family: var(--heading-font);
	text-transform: uppercase;
	letter-spacing: .05em;
	color: var(--paper-color);
}

.section-1,
.section-2 {
	padding: 2em 0;
}

.section-1 {
	background-color: var(--lighter-bg);
	text-align: center;
}

.section-1__heading {
	font-size: 1.875rem;
	color: var(--accent-color);
}

.section-1__text {
	font-size: 1.125rem;
}

.section-2__heading {
	font-size: 1.875em;
	color: var(--accent-color);
}

.section-2__text {
	font-size: 1.3125em;
}

.section-2__img {
	padding: 1em 0;
}

.callout {
	background-color: var(--dark-bg);
	color: var(--paper-color);
	padding: 1em;
	margin-bottom: .75em;
	text-align: center;
}

.callout__heading {
	font-size: 1.875rem;
}

.callout__text {
	font-size: 1.125rem
}

.footer {
	background-color: var(--dark-bg);
	padding: 1em 0;
	color: white;
}

.footer__heading {
	font-size: 2.5rem;
	text-align: center;
	margin: 1em 0 1.5em;
}

.footer__nav--group {
	margin: 2em 0;
}

.footer__subhead {
	font-size: 1.3125rem;
	color: var(--accent-color);
}

.footer__nav--list {
	padding: 0;
	margin: .9em 0;
	list-style: none;
	font-size: 1rem;
}

.footer__nav--item {
	margin: 1em 0;
}

.footer__nav--link {
	color: var(--paper-color);
}

@media (min-width: 700px) {
	h1 {
		font-size: 4.5625rem;
	}

	.intro__cta {
		font-size: 1.3125rem;
	}

	.header__content {
		align-items: center;
	}
	
	.nav-toggle {
		display: none;
	}

	.nav {
		position: relative;
		width: auto;
		visibility: visible;
	}

	.nav__list {
		margin: 0;
	}

	.nav__list + .nav__list {
		margin-left: 4.5vw;
	}

	.nav__item {
		display: inline;
		margin: 0;
	}

	.nav__item + .nav__item {
		margin-left: 2.5vw;
	}

	.row--med {
		display: flex;
		justify-content: space-between;
	}

	.callout, .footer__nav--group {
		width: 32%;
		padding: .75em;
	}

	.callout {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.footer__nav--group {
		margin: 0;
		padding: 0;
	}
}

@media (min-width: 1000px) {
	h1 {
		margin: 0;
	}

	.hero {
		padding 2em 0 3.5em
	}

	.intro__cta {
		font-size: 1.5rem;
	}

	.row--lg {
		display: flex;
		justify-content: space-between;
	}

	.intro__title {
		width: 40%;
	}

	.intro__text {
		width: 55%;
		align-self: flex-end;
	}

	.section-1__content {
		width: 28%;
	}

	.section-2__content {
		width: 55%;
	}

	.sidebar {
		width: 40%;
		display: block;
	}

	.callout {
		display: block;
		width: 100%;
	}

	.callout__heading {
		margin-top: 1em;
	}

	.footer__column-1 {
		width: 40%;
	}

	.footer__nav {
		width: 55%;
	}

	.footer__nav--group {
		margin-left: 1.5em;
	}
}