:root {
	--dark-bg: #2e323f;
	--medium-bg: #3b4050;
	--light-bg: #6f737f;
	--lighter-bg: #f0f1f3;
	--paper-color: #fff;
	--solid-color: #000;
	--accent-color: #a59678;
	--heading-font: 'Oswald', sans-serif;
	--text-font: 'Montserrat', sans-serif;
	font-size: 16px;
} 

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--text-font);
	font-size: 1.3125rem;
	line-height: 1.45;
}

img {
	max-width: 100%;
	height: auto;
}

header {
	background-color: var(--dark-bg);
	text-align: center;
	padding: 1em 0;
}

h1 {
	font-family: var(--heading-font);
	font-weight: bold;
	font-size: 3.5rem;
	line-height: 1.05;
	margin-top: 0;
}

h2 {
	font-family: var(--heading-font);
	margin-top: 0;
}

a {
	text-decoration: none;
	transition: opacity 250ms ease;
}

a:hover,
a:focus,
.nav-toggle:focus,
.nav-toggle:hover {
	opacity: 75%;
	transition: opacity 250ms ease;
}

.container {
	width: 80%;
	margin: 0 auto;
	max-width: 1200px;
	position: relative;
}

.nav-toggle {
	cursor: pointer;
	border: none;
	width: 3em;
	height: 3em;
	padding: 0;
	border-radius: 50%;
	background-color: var(--solid-color);
	color: var(--paper-color);
	transition: opacity 250ms ease;
	position: absolute;
	left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
	opacity: .75 ease;
}

.hamburger {
	width: 45%;
	position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
	display: block;
	margin: 0 auto;
	height: 3px;
	background: var(--paper-color);
}

.hamburger::before,
.hamburger::after {
	content: '';
	width: 100%;
}

.hamburger::before {
	transform: translateY(-6px);
}

.hamburger::after {
	transform: translateY(3px);
}

.logo {
	height: 3.5em;
	line-height: 0;
}

.nav {
	width: 100%;
	visibility: hidden;
	height: 0;
	position: absolute;
	font-size: 1.125rem;
	font-family: var(--heading-font);
	text-transform: uppercase;
	letter-spacing: .05em;
}

.nav__list {
	padding: 0;
	margin: .9em 0;
	list-style: none;
}

.nav__item {
	margin: .5em;
}

.btn {
	padding: .1em 1.5em;
	background-color: var(--accent-color);
	border-radius: 1000px;
}

.nav__link {
	color: var(--paper-color);
}

.nav--visible {
	position: relative;
	height: auto;
	visibility: visible;
}

.hero {
	background-color: var(--medium-bg);
	color: var(--lighter-bg);
	padding: 2em 0;
}

.intro__title {
	color: var(--paper-color);
}

.intro__title--emphasis {
	font-style: normal;
	color: var(--accent-color);
}

.intro__cta {
	font-size: 1.125rem;
	font-family: var(--heading-font);
	text-transform: uppercase;
	letter-spacing: .05em;
	color: var(--paper-color);
	padding; 
}

.section__1 {
	background-color: var(--lighter-bg);
	color: var(--dark-bg);
	padding: 2em 0;
	text-align: center;
}